@import url("fonts.css");
@import url("filter.css");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  position: relative;
  margin: 0;
  font-family: 'OpenSans', sans-serif;
  color: #2a2a2a;
  cursor: default;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  background: #fff;
  height: auto;
  min-height: 100%;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.wrap {
  width: 100%;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
}
section,
header,
footer {
  display: block;
  position: relative;
}
.container {
  zoom: 1;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}
.container-2 {
  zoom: 1;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}
.container-pad-0 {
  zoom: 1;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}
.container:after,
.container:after {
  clear: both;
}
a {
  display: block;
  color: #000;
  text-decoration: none;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a img {
  text-decoration: none;
}
a:focus,
a:hover,
a:link,
a:active {
  outline: none!important;
  text-decoration: none!important;
  outline-width: 0;
}
a:hover {
  text-decoration: none!important;
}
h1 {
  font-size: 54px;
  font-weight: 700;
  /*text-align: center;*/
  margin: 0;
}
h2 {
  font-size: 22px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li a {
  font-size: 15px;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  outline: none;
  text-decoration: none;
  border: none;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
button:focus {
  outline: none;
}
/*ОБЩИЕ СТИЛИ*/
.margin-auto {
  margin: 0 auto;
}
.mar-top-30 {
  margin-top: 30px;
}
.mar-top-20 {
  margin-top: 20px;
}
.mar-top-10 {
  margin-top: 10px;
}
.mar-bot-30 {
  margin-bottom: 30px;
}
.mar-bot-20 {
  margin-bottom: 20px;
}
.mar-bot-10 {
  margin-bottom: 10px;
}
.mar-bot-5 {
  margin-bottom: 5px;
}
.mar-bot-top-30 {
  margin: 30px 0;
}
.mar-bot-top-10 {
  margin: 10px 0;
}
.mar-right-10 {
  margin-right: 10px;
}
.mar-right-20 {
  margin-right: 20px;
}
.pad-25 {
  padding: 25px 0;
}
.pad-10 {
  padding: 10px 0;
}
.pad-top-10 {
  padding-top: 10px;
}
.pad-bot-20 {
  padding-bottom: 20px;
}
.pad-10px {
  padding: 10px;
}
.cur-pointer {
  cursor: pointer;
}
.uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}
.color-white {
  color: #fff;
}
input {
  position: relative;
  /*width: 100%;*/
  display: block;
  /*margin-top: 10px;*/
  /*background-color: #fff;*/
  /*border-radius: 3px;*/
  /*border: 1px solid #b7bfd2;*/
  font-size: 15px;
  color: #000;
  padding-left: 15px;
  font-family: "Open sans";
  font-weight: 400;
  /*height: 51px;*/
  outline: none;
}
input:-moz-placeholder {
  color: #b7bfd2;
}
input::-webkit-input-placeholder {
  color: #b7bfd2;
}
textarea {
  /*Стили для поля ввода*/
  /*width: 100%;*/
  /*height: 50px;*/
  padding-left: 15px;
  /*border: 1px solid #a2a5b2;*/
  /*border-radius: 3px;*/
  /*margin-top: 10px;*/
  /*font-size: 15px;*/
  font-family: 'Open Sans', sans-serif;
  /*overflow: hidden;*/
  resize: none;
  outline: none;
  font-weight: 400;
}
textarea:-moz-placeholder {
  color: #a2a5b2;
}
textarea::-webkit-input-placeholder {
  color: #a2a5b2;
}
input:focus,
textarea:focus {
  outline: none;
}
button[disabled],
html input[disabled] {
  cursor: pointer;
}
label {
  /*display: block;*/
  /*color: #a4a7ad;*/
  /*font-weight: 600;*/
  /*font-size: 15px;*/
  /*margin-bottom: 10px;*/
  /*margin-top: 10px;*/
  /*vertical-align: middle;*/
}
.label {
  color: #a4a7ad;
  font-size: 15px;
  margin-top: 10px;
  font-weight: 600;
}
.fontweight600 {
  font-weight: 600;
}
.fontweight800 {
  font-weight: 800;
}
.fontweight700 {
  font-weight: 700;
}
/*Объкты на всех страницах*/
.display-inline-top {
  display: inline-block;
  vertical-align: top;
}
.display-inline-middle {
  display: inline-block;
  vertical-align: middle;
}
.in-block {
  display: inline-block;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.flex-space-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex-space-around-center {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex-space-between {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.flex-space-between-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/*Трехколочный хедер*/
/*--------------МОДАЛЬНЫЕ ОКНА МЕДИА-МЕНЮ НА ВЕСЬ ЭКРАН-----------------*/
/*Меню поп-ап*/
/*.menu-icon{*/
/*width: 40px;*/
/*height: 40px;*/
/*background: url("../img/iconMenu.png")center no-repeat;*/
/*background-size: contain;*/
/*cursor: pointer;*/
/*}*/
.media-menu {
  padding-top: 20px;
  /*margin-bottom: 40px;*/
  position: relative;
  display: none;
  width: 100%;
  /*height: 100%;*/
  height: 95vh;
  text-align: center;
  background: #ffffff;
}
.media-close {
  width: 30px;
  height: 30px;
  background: url("../img/icon-close.png") center no-repeat;
  background-size: contain;
  cursor: pointer;
}
.wrapper-media-menu {
  margin-top: 50px;
  margin-bottom: 30px;
}
.media-menu-item {
  margin-bottom: 10px;
}
.menu-link {
  font-size: 18px;
  font-weight: 600;
  line-height: 50px;
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #000;
}
.active-item {
  background-color: #f2f6fb;
}
.active-item a {
  color: #06ae8f;
}
/*------------------------------*/
@media screen and (max-width: perem-px) {
  .grid-line-row-center {
    margin-left: -15px;
    margin-right: -15px;
  }
  .col-test-col-wrapper {
    width: calc(50% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (max-width: perem-px) {
  .row-center {
    margin-left: -15px;
    margin-right: -15px;
  }
  .col-wrapper-6 {
    width: calc(50% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
  .col-wrapper-3 {
    width: calc(50% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
  .col-wrapper-4 {
    width: calc(50% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (max-width: perem-px) {
  .row-center {
    margin-left: -15px;
    margin-right: -15px;
  }
  .col-wrapper-2 {
    width: calc(33.33333333% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
}
.row-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -15px;
  margin-right: -15px;
}
.col-wrapper-3 {
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
}
.col-wrapper-4 {
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.33333333% - 30px);
}
.col-wrapper-6 {
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
}
.col-wrapper-2 {
  margin-left: 15px;
  margin-right: 15px;
  width: calc(16.66666667% - 30px);
}
.section-top-header {
  background-color: #434343;
}
.section-top-header_padding {
  padding: 10px 0;
}
.top-header {
  display: flex;
  justify-content: space-between;
}
.top-header-left-col,
.top-header-right-col {
  display: flex;
}
.top-header-item {
  font-size: 13px;
  color: #ffffff;
}
.top-header-left-col__item {
  display: flex;
  align-items: center;
}
.top-header-left-col__item:after {
  content: "\f0d7";
  font-family: FontAwesome;
  display: block;
  margin-left: 10px;
}
.top-header-left-col__item:not(:first-child):before {
  content: "";
  height: 12px;
  width: 1px;
  background: #fff;
  display: block;
  margin: 0 10px;
}
.top-header-right-col {
  width: 15%;
  justify-content: space-between;
}
.top-header-right-col__item {
  display: flex;
  align-items: center;
}
.top-header-right-col__item_login:before {
  content: "\f007";
  font-family: FontAwesome, sans-serif;
  display: block;
  margin-right: 5px;
}
.top-header-right-col__item_register:before {
  content: "\f023";
  font-family: FontAwesome, sans-serif;
  display: block;
  margin-right: 5px;
}
.top-header-right-col__icon-bar i {
  color: #fff;
}
.section-bottom-header_bot-shadow:after {
  content: "";
  display: block;
  width: 100%;
  box-shadow: 0px 2px 5px 1px rgba(107, 106, 106, 0.5);
}
.section-center-header {
  background-color: #363636;
}
.section-center-header_padding {
  padding: 25px 0;
}
.center-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.phone-company p {
  color: #d8d8d8;
  display: flex;
  align-items: center;
}
.phone-company p:before {
  content: "";
  display: block;
  width: 16px;
  height: 32px;
  background: url("../img/IconTel.png") center no-repeat;
  background-size: contain;
  margin-right: 10px;
}
.logo-company {
  width: 165px;
  height: 77px;
  background: url("../img/Logo.png") center no-repeat;
  background-size: contain;
}
.order-basket {
  display: flex;
  align-items: center;
}
.order-basket_icon {
  position: relative;
  width: 51px;
  height: 49px;
  background: url("../img/IconBusket.png") center no-repeat;
  background-size: contain;
}
.order-basket_order-count {
  position: relative;
  right: 9px;
  background-color: #363636;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-basket_order-count p {
  color: #fff;
}
.section-bottom-header {
  background-color: #fff;
}
.bottom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper-category-product-search {
  width: 45%;
  display: flex;
}
.wrapper-category-search__select {
  min-height: 50px;
  padding: 10px;
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper-category-search__input {
  /*ширина поля input*/
  width: 80%;
  text-align: center;
  padding-left: 0;
  display: block;
  border: none;
}
.wrapper-category-search__input:before {
  content: "\f0ca";
  display: block;
  font-family: FontAwesome, sans-serif;
}
.wrapper-category-search_icon-list {
  color: #d58e32;
  font-size: 20px;
}
.wrapper-category-search__triangle-down {
  /*стилизую треугольник в select, может быть и картинка*/
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 16px solid #000;
  border-radius: 2px;
}
.wrapper-category-search__list-option {
  /*раскрывающийся список*/
  padding-left: 10px;
  display: none;
}
.wrapper-category-search__list-option li {
  /*поля списка*/
  margin-bottom: 10px;
  color: #000;
  cursor: pointer;
}
.wrapper-category-search__list-option li:first-child {
  margin-top: 10px;
}
.wrapper-product-search {
  flex-grow: 1;
}
.wrapper-product-search__wrapper-input {
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
}
.wrapper-product-search__input {
  border: none;
  width: 80%;
}
.wrapper-product-search__icon-search {
  margin-right: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}
.wrapper-product-search__icon-search i {
  font-size: 20px;
  color: #000;
}
.horizontal-menu {
  display: flex;
  height: 100%;
}
.horizontal-menu__item a {
  font-size: 14px;
  color: #2a2a2a;
  text-transform: uppercase;
  padding: 21px 13px;
  border-top: 4px solid transparent;
}
.horizontal-menu__item_active {
  background-color: #d58e32;
  border-top-color: #000;
}
.horizontal-menu__item_active a {
  color: #fff;
}
.section-hot-deals {
  background-color: #fff;
}
.wrapper-timer-slider-row-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -15px;
  margin-right: -15px;
}
.wrapper-timer {
  border: 1px solid #f4f5f7;
  max-width: 360px;
  min-width: 300px;
}
.wrapper-timer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2a2a2a;
  padding: 10px;
}
.wrapper-timer__header p {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}
.wrapper-timer__pagers {
  display: flex;
}
.wrapper-timer__pagers-item {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
}
.wrapper-timer__pagers-item:not(:last-child) {
  margin-right: 5px;
}
.wrapper-slider {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid;
}
.wrapper-slider__header {
  background-color: #cccccc;
  flex-grow: 2.5;
}
.wrapper-slider__center {
  background-color: #666666;
  flex-grow: 1;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-slider__botttom {
  background-color: #cccccc;
  flex-grow: 1;
}
.wrapper-slider__pagers {
  display: flex;
  height: 40px;
}
.wrapper-slider__pagers-arrow {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-slider__pagers-arrow:before {
  font-family: "FontAwesome", sans-serif;
  display: block;
  color: #fff;
}
.wrapper-slider__pagers-arrow-left {
  background-color: #2a2a2a;
}
.wrapper-slider__pagers-arrow-left:before {
  content: "\f053";
}
.wrapper-slider__pagers-arrow-right {
  background-color: #d58e32;
}
.wrapper-slider__pagers-arrow-right:before {
  content: "\f054";
}
.wrapper-slider__wrapper-sentence {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.wrapper-slider__wrapper-sentence h2 {
  font-size: 54px;
}
.wrapper-slider__wrapper-sentence h3 {
  font-size: 24px;
  font-weight: 500;
}
.wrapper-timer-col-wrapper {
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.33333333% - 30px);
}
.wrapper-slider-col-wrapper {
  margin-left: 15px;
  margin-right: 15px;
  width: calc(66.66666667% - 30px);
}
@media screen and (max-width: 1010px) {
  .wrapper-timer-slider-row-center {
    margin-left: -15px;
    margin-right: -15px;
  }
  .wrapper-timer-col-wrapper {
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (max-width: 1010px) {
  .wrapper-timer-slider-row-center {
    margin-left: -15px;
    margin-right: -15px;
  }
  .wrapper-slider-col-wrapper {
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
}
.wrapper-timer__body {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  background-color: #f4f5f7;
}
.wrapper-timer__button {
  margin: 20px auto 0;
}
.button {
  display: inline-block;
  cursor: pointer;
  padding: 9px 16px;
}
.button_black {
  background-color: #2a2a2a;
}
.button_black p {
  color: #ffffff;
}
.button p {
  display: flex;
  align-items: center;
  font-size: 13px;
  text-transform: uppercase;
}
.button-add-to-cart p:before {
  content: "\f291";
  margin-right: 5px;
  display: block;
  font-family: "FontAwesome", sans-serif;
}
.countdown {
  display: flex;
}
.countdown__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5vw;
  min-width: 43px;
  min-height: 43px;
  height: 5vw;
  border-radius: 50%;
  background-color: #3e3e3e;
  margin: 0 5px;
}
.countdown__item p {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: calc(12px + 0.8vw);
}
.countdown__item p span {
  font-size: 13px;
  display: block;
}
.wrapper-timer__countdown {
  margin: 20px auto 10px;
}
.wrapper-timer__call-estimate {
  text-align: center;
  font-size: 16px;
  color: #2a2a2a;
}
.wrapper-quality-rating {
  display: flex;
  border-bottom: 1px solid;
  padding: 10px 0;
}
.quality-rating {
  margin: 0 auto;
  display: flex;
}
.quality-rating__item {
  margin: 0 5px;
}
.quality-rating__item:before {
  content: "\f006";
  font-family: "FontAwesome", sans-serif;
  display: block;
}
.quality-rating__item_active:before {
  content: "\f005";
  font-family: "FontAwesome", sans-serif;
  display: block;
}
.block-quality-rating {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
}
.block-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 10px;
}
.icons-for-visitors {
  display: flex;
}
.icons-for-visitors__icon:not(:last-child) {
  margin-right: 5px;
}
.icons-for-visitors__icon {
  width: 37px;
  height: 37px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons-for-visitors__icon:before {
  font-family: "FontAwesome", sans-serif;
  display: block;
  font-size: 17px;
}
.icons-for-visitors__icon_eye:before {
  content: "\f06e";
}
.icons-for-visitors__icon_heart:before {
  content: "\f08a";
}
.icons-for-visitors__icon_exchange:before {
  content: "\f0ec";
}
.wrapper-cost-goods {
  display: flex;
  align-items: center;
}
.wrapper-cost-goods__crossed-out-price {
  color: #a5a5a5;
  font-size: 14px;
  text-decoration: line-through;
  margin-right: 10px;
}
.wrapper-cost-goods__real-price {
  font-size: 18px;
  color: #fff;
  background-color: #000;
  padding: 5px;
}
.wrapper-slider__botttom {
  display: flex;
  flex-direction: column;
}
.button_color_white {
  background-color: #fff;
}
.button_color_white p {
  color: #000;
}
.wrapper-slider__button {
  margin: 0 auto;
  position: relative;
  top: -26px;
}
.section-services-for-people {
  margin-top: 70px;
}
.wrapper-service-on-site {
  min-width: 205px;
  border: 1px solid #b7b7b7;
  padding-bottom: 20px;
}
@media screen and (max-width: 1060px) {
  .wrapper-service-on-site {
    margin-bottom: 60px;
  }
}
.wrapper-service-on-site__outer-circle-icons {
  position: relative;
  top: -38px;
  background: #fff;
  width: 76px;
  height: 76px;
  border: 1px solid #b7b7b7;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-service-on-site__icons {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 1px solid #b7b7b7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-service-on-site__icons:after {
  font-family: "FontAwesome", sans-serif;
  display: block;
  color: #2a2a2a;
  font-size: 20px;
}
.wrapper-service-on-site__icon_car:after {
  content: "\f0d1";
}
.wrapper-service-on-site__title {
  font-size: 20px;
  color: #2a2a2a;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
.wrapper-service-on-site__subtitle {
  font-size: 20px;
  color: #2a2a2a;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.section-guest-room {
  padding-top: 20px;
}
.block-special-collection__col {
  min-width: 320px;
}
.block-special-collection__col_number_1 {
  border: 22px solid #6a6a6a;
  background-color: #505050;
  padding: 0 0 20px 20px;
}
.block-special-collection__col_number_2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.block-special-collection__col-1-title {
  font-size: 36px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  margin-top: 100px;
}
.block-special-collection__col-1-subtitle {
  font-size: 60px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 40px;
}
.block-special-collection__col-1-discount {
  margin-top: 20px;
}
.discount {
  display: inline-block;
  padding: 3px 10px;
}
.discount p {
  font-size: 50px;
  color: #fff;
}
.discount__col-2 {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 730px) {
  .block-special-collection.row-center {
    margin-left: -15px;
    margin-right: -15px;
  }
  .block-special-collection .col-wrapper-6 {
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
  .block-special-collection .col-wrapper-3 {
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
  .block-special-collection .col-wrapper-4 {
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
}
.special-collection-wrapper-1 {
  flex-basis: calc(50% - 10px);
  margin-bottom: 10px;
  background-color: #e8edf7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.special-collection-wrapper-1__description {
  text-transform: uppercase;
}
.special-collection-wrapper-1__title {
  font-size: 30px;
  color: #000;
  font-weight: 600;
}
.special-collection-wrapper-1__title span {
  font-weight: 400;
}
.special-collection-wrapper-1__description {
  font-size: 18px;
  font-weight: 600;
}
.special-collection-wrapper-1__price {
  font-size: 36px;
  color: #d58e32;
}
.special-collection-wrapper-2 {
  padding-right: 10px;
  flex-basis: calc(50% - 10px);
  margin-top: 10px;
  background-color: #fbf3f7;
  display: flex;
  align-items: center;
}
.special-collection-wrapper-2__description {
  text-transform: uppercase;
  margin-left: auto;
}
.special-collection-wrapper-2__title {
  font-size: 24px;
  color: #d58e32;
  font-weight: 600;
}
.special-collection-wrapper-2__title span {
  font-weight: 400;
}
.special-collection-wrapper-2__price {
  color: #000;
  font-size: 18px;
}
.section-product-line {
  padding-top: 30px;
}
.row-center_active {
  display: flex;
  opacity: 1;
}
.row-center_unactive {
  display: none;
  opacity: 0;
}
.wrapper-product-line:not(.row-center_active) {
  opacity: 0;
  display: none;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  10% {
    opacity: 0.8;
  }
  20% {
    opacity: 0.7;
  }
  30% {
    opacity: 0.6;
  }
  40% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.3;
  }
  70% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.1;
  }
  to {
    opacity: 0;
  }
}
.fadeOut {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
.wrapper-furniture-tabs {
  display: flex;
  border-bottom: 2px solid #e2e2e2;
}
.title_color_orange {
  font-size: 20px;
  color: #d58e32;
  text-transform: uppercase;
}
.furniture-tabs {
  display: flex;
  margin: 0 auto;
}
.furniture-tabs__item:not(:last-child) {
  margin-right: 15px;
}
.furniture-tabs__item {
  display: flex;
  align-items: center;
  margin-bottom: -2px;
  border-bottom: 2px solid transparent;
}
.furniture-tabs__item a {
  color: #2a2a2a;
  font-size: 18px;
  font-weight: 500;
}
.furniture-tabs__item_active {
  border-bottom: 2px solid #d58e32;
}
.wrapper-product-line {
  margin-top: 20px;
}
.product-card {
  position: relative;
  min-width: 230px;
  margin-bottom: 30px;
  border: 1px solid #f4f5f7;
}
.product-card__sale {
  position: absolute;
  width: 40px;
  height: 20px;
  left: 50%;
  margin-left: -15px;
  border: 2px solid #000;
  background: #000;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
}
.product-card__sale p {
  color: #fff;
  text-align: center;
  margin-top: -3px;
}
.product-card:hover .product-card__rating-title,
.product-card:hover .wrapper-cost-goods__real-price {
  color: #d58e32;
}
.product-card:hover .product-card__button {
  display: flex;
}
.product-card__body {
  height: 260px;
  background-color: #f4f5f7;
  display: flex;
  flex-direction: column;
}
.product-card__body img {
  height: 100%;
}
.product-card__button {
  display: none;
  justify-content: space-around;
  margin-top: -36px;
}
.product-card__rating-title {
  text-align: center;
  color: #2a2a2a;
  font-size: 16px;
}
.title_color {
  font-size: 20px;
  text-transform: uppercase;
}
.title_color_orange {
  color: #d58e32;
}
.furniture-gallery-row-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -15px;
  margin-right: -15px;
}
.furniture-gallery-col-wrapper {
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
}
.furniture-gallery-left-side__tabs-row-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 0px;
  margin-right: 0px;
}
.furniture-gallery-left-side {
  background-color: #f4f5f7;
  border: 1px solid #e2e2e2;
}
.furniture-gallery-left-side__tabs {
  background-color: #fff;
}
.furniture-gallery-left-side__tabs-item {
  margin-left: 0px;
  margin-right: 0px;
  width: calc(25% - 0px);
}
.furniture-gallery-left-side__tabs-item:not(:first-child) {
  border-left: 1px solid #e2e2e2;
}
.furniture-gallery-left-side__tabs-item p {
  text-align: center;
  font-size: 18px;
  color: #2a2a2a;
  text-transform: uppercase;
  padding: 5px;
}
.furniture-gallery-left-side__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.furniture-gallery-left-side__icons {
  padding: 120px 0;
}
.furniture-gallery-left-side__new-price {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 27px auto 0px;
  flex-direction: column;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  background-color: rgba(42, 42, 42, 0.6);
  position: relative;
  z-index: 2;
}
.furniture-gallery-left-side__new-price-actual-price {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.furniture-gallery-left-side__new-price-old-price {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  text-decoration: line-through;
}
.furniture-gallery-left-side__rating {
  background: url("../img/RatingFon.jpg") center no-repeat;
  background-size: cover;
  position: relative;
  top: -11px;
}
.furniture-gallery-left-side__block-raiting {
  padding: 13px 30px;
}
.furniture-gallery-left-side__block-raiting .product-card__rating-title {
  color: #2a2a2a;
  font-size: 16px;
  font-weight: 600;
}
.furniture-gallery-left-side__block-raiting .wrapper-quality-rating {
  border: none;
}
.furniture-gallery-left-side__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #fff;
  padding: 8px;
}
.furniture-gallery-left-side__footer-item-arrow {
  flex-basis: 33px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2a2a2a;
}
.furniture-gallery-left-side__footer-item-arrow:before {
  color: #fff;
  font-size: 18px;
}
.furniture-gallery-left-side__footer-item {
  flex-grow: 1;
  margin: 0 8px;
  background-color: #cccccc;
}
.icons-for-visitors__icon_busket:before {
  content: "\f291";
}
.furniture-gallery-left-side__footer-row-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -8px;
  margin-right: -8px;
}
.footer-item-arrow-left:before {
  content: "<";
}
.footer-item-arrow-right:before {
  content: ">";
}
.slider-line-under-title {
  display: flex;
  align-items: center;
}
.slider-line-under-title__line {
  flex-basis: 93%;
  margin-right: 15px;
  height: 3px;
  background: #e2e2e2;
}
.slider-line-under-title__line:after {
  content: "";
  display: block;
  width: 36px;
  height: 3px;
  background: #d58e32;
}
.slider-line-under-title__pagers {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}
.slider-line-under-title__pagers-item {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #e2e2e2;
}
.slider-line-under-title__pagers-item_active {
  background: #d58e32;
}
.slider-line-under-title__pagers-item:not(:last-child) {
  margin-right: 10px;
}
.slider-logs-row-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -15px;
  margin-right: -15px;
}
.blog-col-wrapper {
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.33333333% - 30px);
}
.blog-col-wrapper:hover .button_black {
  background-color: #d58e32;
}
.blog-col-wrapper:hover .blog-col-wrapper__description h3 {
  color: #d58e32;
}
.blog-col-wrapper__img {
  position: relative;
  width: 100%;
  background: #969696;
  max-height: 290px;
}
.blog-col-wrapper__img::before {
  content: "";
  display: block;
  padding-top: 81%;
}
.blog-col-wrapper__img-content {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.blog-col-wrapper__description {
  padding: 20px 20px 0;
  display: flex;
  flex-direction: column;
}
.blog-col-wrapper__description h3 {
  margin-bottom: 10px;
  font-size: 16px;
  color: #2a2a2a;
  font-weight: 500;
}
.blog-col-wrapper__description-p {
  color: #676767;
  font-size: 14px;
  line-height: 26px;
}
.blog-col-wrapper__description-button {
  margin: 30px auto 0;
}
.blog-date-coments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 20px;
  margin-top: auto;
}
.blog-date-coments__date {
  display: flex;
  align-items: center;
}
.blog-date-coments__date::before {
  margin-right: 6px;
  content: "\f073";
  font-family: "FontAwesome", sans-serif;
  display: block;
}
.blog-date-coments__date p {
  font-size: 13px;
  color: #676767;
}
.blog-date-coments p:not(:last-child) {
  margin-right: 6px;
}
.blog-date-coments__month {
  text-transform: uppercase;
}
.blog-date-coments__coments {
  display: flex;
  align-items: center;
}
.blog-date-coments__coments::before {
  margin-right: 6px;
  content: "\f086";
  font-family: "FontAwesome", sans-serif;
  display: block;
}
.blog-date-coments__coments p {
  font-size: 13px;
  color: #676767;
  display: flex;
  align-items: center;
}
.blog-date-coments__coments p {
  font-size: 13px;
  color: #676767;
}
.blog-date-coments__coments p:not(:last-child) {
  margin-right: 6px;
}
.slider-vendors {
  margin-top: 30px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  display: flex;
  padding: 25px 0;
}
.slider-vendors__arrow {
  width: 30px;
  background-color: #2a2a2a;
}
.slider-vendors__arrow_left {
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-vendors__arrow_left:before {
  content: "<";
  display: block;
  font-size: 20px;
  color: #fff;
}
.slider-vendors__arrow_right {
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-vendors__arrow_right:before {
  content: ">";
  display: block;
  font-size: 20px;
  color: #fff;
}
.slider-vendors__wrapper-vendor {
  flex-grow: 1;
}
.vendor-row-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -15px;
  margin-right: -15px;
}
.vendor-row-center__item-col-wrapper {
  margin-left: 15px;
  margin-right: 15px;
  width: calc(16.66666667% - 30px);
  height: 143px;
  border: 1px solid #cccccc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-client-feedback {
  display: flex;
  flex-direction: column;
}
.item-client-feedback__quotes {
  font-size: 25px;
  color: #000;
  margin: 25px auto 0;
}
.item-client-feedback__quotation {
  margin: 25px auto 0;
  max-width: 890px;
}
.item-client-feedback__quotation p {
  font-size: 14px;
  color: #676767;
  text-align: center;
  font-weight: 500;
}
.wrapper-feedback-client {
  margin: 30px auto 0;
  display: flex;
}
.wrapper-feedback-client__foto {
  margin-right: 30px;
  width: 62px;
  height: 52px;
  border-radius: 10px;
  background-color: #676767;
}
.wrapper-feedback-client__name {
  font-size: 16px;
  color: #676767;
  font-weight: 600;
}
.wrapper-feedback-client__position {
  font-size: 14px;
  color: #676767;
  font-weight: 500;
}
.footer-section-1 {
  background-color: #363636;
  padding: 30px 0;
}
.footer__menu-col {
  flex-basis: 300px;
}
.footer__menu-title {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footer__menu {
  display: flex;
}
.footer__menu-item {
  margin-bottom: 10px;
}
.footer__menu-item a {
  font-size: 14px;
  color: #a9a9a9;
}
.payment-method {
  display: flex;
}
.payment-method__item {
  margin-right: 5px;
  width: 40px;
  height: 28px;
  background: url("../img/visa_logo_020615.jpg") center no-repeat;
  background-size: contain;
}
.footer-section-2 {
  background-color: #2a2a2a;
  padding: 20px 0;
}
.footer-section-2__copyright {
  display: flex;
}
.footer-section-2__title {
  flex-grow: 1;
  color: #a9a9a9;
  font-size: 14px;
  text-align: center;
}
.footer-section-2__col-left {
  width: 25%;
}
.wrapper-social-icon {
  width: 25%;
  display: flex;
  justify-content: flex-end;
}
.wrapper-social-icon__item {
  margin: 7px;
  width: 24px;
  height: 15px;
  background: url("../img/visa.jpg") center no-repeat;
  background-size: cover;
}
.section-baner {
  padding: 30px 0;
  background-color: #3f3f3f;
}
.section-baner__baner-title {
  text-align: center;
  font-size: 54px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
}
.section-baner__baner-title span {
  font-weight: 600;
}
.section-baner__offer {
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  font-weight: 300;
  letter-spacing: 5px;
}
.section-baner__offer span {
  font-weight: 500;
  color: #d58e32;
}
.section-bread-crumbs {
  background-color: #e2e2e2;
  padding: 20px 0 20px 30px;
}
.bread-crumbs {
  display: flex;
}
.bread-crumbs__item {
  color: #2a2a2a;
  font-size: 13px;
  font-weight: 400;
  display: flex;
}
.bread-crumbs__item:not(:last-child):after {
  content: ">";
  font-size: 14px;
  display: block;
  margin: 0 10px;
}
.bread-crumbs__item:last-child {
  color: #d58e32;
  font-weight: 600;
}
.title {
  color: #2a2a2a;
  text-transform: uppercase;
  font-weight: 600;
}
.subtitle {
  font-size: 16px;
  color: #2a2a2a;
  font-weight: 600;
  text-transform: uppercase;
}
.wrapper-two-col {
  display: flex;
}
.wrapper-two-col__col-left {
  width: 75%;
  max-width: 850px;
  margin-right: 20px;
  flex-shrink: 0;
}
.wrapper-two-col__col-right {
  flex-grow: 1;
}
.col-left__product-row-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -15px;
  margin-right: -15px;
}
.col-3-col-wrapper {
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.33333333% - 30px);
}
.col-left__subtitle {
  border-bottom: 1px solid;
  padding-bottom: 10px;
}
.filter-category__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.filter-category__category {
  font-size: 13px;
  color: #2a2a2a;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.filter-category__category:before {
  content: "\f105";
  font-family: "FontAwesome", sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-right: 7px;
}
.filter-category__item_active > .filter-category__category {
  color: #d58e32;
  margin-left: 10px;
}
.filter-category__item_active > .filter-category__count {
  background-color: #d58e32;
}
.filter-category__count {
  width: 23px;
  height: 23px;
  background-color: #2a2a2a;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.filter-category__count span {
  font-size: 13px;
  color: #ffffff;
  font-weight: 500;
}
/*Слайдер диапазон цен*/
.filter-price {
  margin-top: 40px;
}
.filter-price__slider-range {
  margin-top: 30px;
}
.filter-price__price-display {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.filter-price__button {
  background-color: #d58e32;
}
.filter-price__button p {
  text-transform: uppercase;
  color: #fff;
}
.filter-price__display {
  display: flex;
  align-items: center;
  width: 145px;
  text-align: center;
  border: 2px solid #e1e1e1;
  padding: 0;
}
.form-control {
  border: none;
  width: 50%;
  font-weight: 600;
  color: #2a2a2a;
}
.slider-range {
  /*внешняя полоска*/
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  background-color: #ffffff;
  color: #444444;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  height: 0.8em;
  position: relative;
  text-align: left;
}
.slider-range .ui-slider-range {
  /*внутренняя полоска*/
  top: 0;
  height: 100%;
  position: absolute;
  z-index: 1;
  font-size: 0.7em;
  display: block;
  border: 0;
  background-position: 0 0;
  overflow: hidden;
  border-radius: 2px;
  background-color: #2a2a2a;
  color: #444444;
  font-weight: bold;
}
.slider-range .ui-slider-handle {
  /*ограничители*/
  border: 3px solid #d58e32;
  background-color: #fff;
  font-weight: bold;
  color: #0073ea;
  border-radius: 50%;
  outline: none;
  top: -0.3em;
  margin-left: -0.6em;
  position: absolute;
  z-index: 2;
  width: 20px;
  height: 20px;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
}
.filter-color {
  margin-top: 40px;
}
.filter-color__item {
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.filter-color__item_active {
  margin-left: 10px;
}
.filter-color__color {
  width: 13px;
  height: 13px;
  border-radius: 3px;
  margin-right: 10px;
}
.filter-color__color_red {
  background-color: #fa5f66;
}
.filter-color__color_black {
  background-color: #000;
}
.filter-color__color_yellow {
  background-color: #e9e600;
}
.filter-color__value {
  font-size: 13px;
  color: #2a2a2a;
}
.filter-size__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.filter-size__category {
  position: relative;
  font-size: 13px;
  color: #2a2a2a;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.filter-size__category:before {
  content: "";
  width: 15px;
  height: 15px;
  border: 1px solid #2a2a2a;
  border-radius: 2px;
  margin-right: 7px;
  box-sizing: border-box;
}
.filter-size__item_active > .filter-size__category {
  margin-left: 5px;
  color: #d58e32;
}
.filter-size__item_active > .filter-size__category:before {
  background-color: #d58e32;
  border: none;
}
.filter-size__item_active > .filter-size__category:after {
  content: "\f00c";
  font-family: "FontAwesome", sans-serif;
  font-size: 12px;
  position: absolute;
  left: 2px;
  color: #fff;
}
.filter-size__item_active > .filter-size__count {
  background-color: #d58e32;
}
.filter-size__count {
  width: 23px;
  height: 23px;
  background-color: #2a2a2a;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.filter-size__count span {
  font-size: 13px;
  color: #ffffff;
  font-weight: 500;
}
.filter {
  margin-top: 30px;
}
.filter__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.filter__item {
  margin-right: 15px;
  margin-bottom: 15px;
  border: 1px solid #959595;
  padding: 8px 15px;
}
.filter__item p {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #959595;
  font-weight: 500;
}
.filter__item p:before {
  content: "\f02c";
  font-family: "FontAwesome", sans-serif;
  margin-right: 10px;
}
.filter__item_active {
  border: 1px solid #d58e32;
}
.filter__item_active p {
  color: #d58e32;
}
.featured-product__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 0;
}
.featured-product__item {
  display: flex;
}
.featured-product__item:hover .featured-product__name-product {
  color: #d58e32;
}
.featured-product__item:hover .featured-product__button {
  background-color: #d58e32;
}
.featured-product__item:not(:last-child) {
  margin-bottom: 15px;
}
.featured-product__img {
  margin-right: 10px;
  width: 116px;
  height: 158px;
}
.featured-product__img img {
  max-width: 100%;
  height: 100%;
}
.featured-product__name-product {
  margin-bottom: 10px;
  font-size: 14px;
  color: #2a2a2a;
  font-weight: 600;
}
.featured-product__price-product {
  margin-bottom: 10px;
  font-size: 18px;
  color: #2a2a2a;
  font-weight: 600;
}
.featured-product__rating {
  margin-bottom: 10px;
}
.section-news-letter {
  background-color: #f2f2f2;
  padding: 30px 0;
}
.wrapper-news-letter {
  display: flex;
  align-items: center;
}
.wrapper-news-letter__title {
  font-size: 22px;
  color: #d58e32;
  text-transform: uppercase;
}
.entry-field {
  display: flex;
}
.display-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;
  padding-bottom: 20px;
  padding-top: 15px;
}
.display-control__title {
  width: 45%;
}
.display-control__filter {
  width: calc(100% - 45%);
  display: flex;
  justify-content: space-between;
}
.display-control__sort-by {
  display: flex;
  align-items: center;
}
.display-control__label {
  color: #2a2a2a;
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
}
.display-control__show {
  display: flex;
  align-items: center;
  width: 107px;
}
.display-control__view-display {
  display: flex;
  border: 1px solid #b7b7b7;
  height: 32px;
  padding: 0 5px;
}
.display-control__view {
  display: flex;
  align-items: center;
}
.display-control__view i {
  color: #363636;
  font-size: 20px;
}
.display-control__view-active i {
  color: #d58e32;
}
.display-control__view:first-child {
  margin-right: 5px;
}
.display-control__show-input {
  width: 65%!important;
}
.wrapper-select {
  position: relative;
}
.wrapper-select__wrapper-input {
  display: flex;
  align-items: center;
  border: 1px solid #b7b7b7;
}
.wrapper-select__triangle-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
  border-radius: 2px;
}
.wrapper-select__input {
  width: 90%;
  border: none;
  color: #b7b7b7;
  padding-left: 10px;
  height: 30px;
}
.wrapper-select__option {
  border: 1px solid #b7b7b7;
  padding-left: 10px;
  position: absolute;
  width: 100%;
  display: none;
}
.wrapper-select__option li {
  margin-bottom: 10px;
  color: #b7b7b7;
  cursor: pointer;
}
.wrapper-select__option li:first-child {
  margin-top: 10px;
}
.wrapper-option {
  /*раскрывающийся список*/
}
.wrapper-option li {
  /*поля списка*/
}
.product_view-table:not(:last-child) {
  border-bottom: 1px solid #d7d7d7;
}
.product_view-table_sale .product_view-table__img:before {
  content: 'sale';
  text-align: center;
  position: absolute;
  width: 40px;
  height: 12px;
  left: 50%;
  margin-left: -15px;
  border: 2px solid #000;
  background: #000;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  color: #fff;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
}
.product_view-table {
  margin-top: 20px;
  padding-bottom: 20px;
  display: flex;
}
.product_view-table__body {
  border-bottom: 1px solid #a0a0a0;
  padding-bottom: 20px;
}
.product_view-table__img {
  position: relative;
  width: 17vw;
  max-width: 262px;
  height: 16.3vw;
  max-height: 260px;
  border: 1px solid;
  margin-right: 20px;
  flex-shrink: 0;
}
.product_view-table__img img {
  width: 100%;
  height: 100%;
}
.product_view-table__rating {
  margin-bottom: 10px;
}
.product_view-table__title {
  font-size: 16px;
  color: #d58e32;
  font-weight: 500;
  margin-bottom: 10px;
}
.product_view-table__description {
  font-size: 14px;
  color: #676767;
  width: 90%;
  line-height: 26px;
}
.product_view-table__price {
  font-size: 18px;
  color: #2a2a2a;
  font-weight: 600;
  margin-bottom: 10px;
}
.product_view-table__footer {
  display: flex;
  margin-top: 25px;
}
#before-load {
  position: fixed;
  /*фиксированное положение блока*/
  left: 0;
  /*положение элемента слева*/
  top: 0;
  /*положение элемента сверху*/
  right: 0;
  /*положение элемента справа*/
  bottom: 0;
  /*положение элемента снизу*/
  background: #fff;
  /*цвет заднего фона блока*/
  z-index: 1001;
  /*располагаем его над всеми элементами на странице*/
}
#before-load i {
  font-size: 70px;
  /*размер иконки*/
  position: absolute;
  /*положение абсолютное, позиционируется относительно его ближайшего предка*/
  left: 50%;
  /*слева 50% от ширины родительского блока*/
  top: 50%;
  /*сверху 50% от высоты родительского блока*/
  margin: -35px 0 0 -35px;
  /*смещение иконки, чтобы она располагалась по центру*/
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes cog {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes cog {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes cog {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*новая страница*/
.header__section-top {
  background-color: #434343;
  padding: 13px 0;
}
.header__cols {
  display: flex;
  justify-content: space-between;
}
.header__language {
  display: flex;
}
.header__language-item {
  font-size: 13px;
  color: #ffffff;
  display: flex;
  align-items: center;
}
.header__language-item:after {
  content: "\f0d7";
  font-family: "FontAwesome", sans-serif;
  display: block;
  margin-left: 8px;
}
.header__language-item:not(:first-child):before {
  content: "";
  height: 22px;
  width: 1px;
  display: block;
  background-color: #fff;
  margin: 0 14px;
}
.header__registry {
  display: flex;
}
.header__registry-item {
  display: flex;
  align-items: center;
}
.header__registry-item i {
  color: #fff;
  margin-right: 10px;
}
.header__registry-item p {
  font-size: 13px;
  color: #fff;
}
.header__registry-item:not(:last-child) {
  margin-right: 38px;
}
.header__icon-bars:before {
  content: "\f0c9";
  font-family: "FontAwesome", sans-serif;
  width: 17px;
  height: 13px;
  display: block;
  color: #fff;
  font-size: 19px;
}
.header__section-bottom {
  background-color: #363636;
  padding: 37px 0;
}
.header__section-bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__tel {
  display: flex;
  align-items: center;
}
.header__tel i {
  margin-right: 12px;
  color: #d58e32;
  font-size: 39px;
}
.header__tel p {
  letter-spacing: 1.4px;
  font-size: 17px;
  color: #d8d8d8;
}
.header__logo {
  width: 165px;
  height: 77px;
  background: url("../img/Logo.png") center no-repeat;
  background-size: contain;
}
.header__basket {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__icon-basket {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 51px;
  height: 49px;
  border-radius: 3px;
  background-color: #d58e32;
}
.header__icon-basket i {
  font-size: 20px;
  color: #fff;
}
.header__amount-buy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #363636;
  margin-left: -7px;
}
.header__amount-buy p {
  font-size: 14px;
  color: #e0e3ed;
}
.section-menu__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-menu__col-search {
  display: flex;
  flex-basis: 490px;
}
.section-menu__wrapper-select {
  border: 1px solid #b7b7b7;
  flex-basis: 213px;
}
.section-menu__wrapper-input {
  padding-left: 13px;
}
.section-menu__icon-list i {
  font-size: 21px;
  color: #d58e32;
}
.section-menu__input {
  color: #b7b7b7;
  height: 44px;
  width: 80%;
  display: block;
}
.section-menu__input:before {
  color: #d58e32;
  content: "\f03a";
  font-family: "FontAwesome", sans-serif;
  display: block;
}
.section-menu__triangle-down {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
  border-radius: 2px;
}
.section-menu__option {
  border: 1px solid #b7b7b7;
}
.section-menu__option li {
  margin-bottom: 10px;
  color: #b7b7b7;
}
.section-menu__option li:first-child {
  margin-top: 10px;
}
.section-menu__wrapper-search {
  flex-grow: 1;
  border: 1px solid #b7b7b7;
  border-left: none;
  display: flex;
  align-items: center;
}
.section-menu__input-search {
  border: none;
  width: 89%;
}
.section-menu__icon-search i {
  font-size: 16px;
  color: #2a2a2a;
}
.section-menu__menu {
  display: flex;
}
.section-menu__menu li a {
  font-size: 14px;
  color: #2a2a2a;
  text-transform: uppercase;
  line-height: 3;
  padding: 20px 16px;
}
.section-menu__menu li:last-child a {
  padding: 20px 0 20px 15px;
}
.section-menu__item_active {
  background-color: #d58e32;
}
.wrapper-select {
  position: relative;
}
.wrapper-select__wrapper-input {
  display: flex;
  align-items: center;
}
.wrapper-select__triangle-down {
  width: 0;
  height: 0;
}
.wrapper-select__input {
  border: none;
  padding-left: 10px;
}
.wrapper-select__option {
  padding-left: 10px;
  position: absolute;
  width: 100%;
  display: none;
}
.wrapper-select__option li {
  cursor: pointer;
}
.furniture {
  background-color: #7f7f7f;
  padding-top: 30px;
  padding-bottom: 277px;
}
.furniture__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.furniture__title {
  color: #dedede;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
.furniture__bread-crumbs {
  display: flex;
}
.furniture__crumb-item {
  font-size: 13px;
  color: #dedede;
  display: flex;
  align-items: center;
}
.furniture__crumb-item:not(:last-child):after {
  content: "\f105";
  font-family: "FontAwesome", sans-serif;
  margin: 0 13px;
}
.detailed-card {
  background-color: #fff;
}
.detailed-card__slider {
  width: 100%;
  padding: 22px;
  top: -248px;
  background-color: #ffffff;
  border: 1px solid #c2c2c2;
}
.detailed-card__slide {
  display: flex;
}
.detailed-card__main-img {
  width: 436px;
  height: 493px;
}
.detailed-card__main-img img {
  width: 100%;
  height: 100%;
}
.detailed-card__pagers {
  margin-top: 13px;
  display: flex;
  justify-content: center;
}
.detailed-card__pager {
  width: 89px;
  height: 104px;
}
.detailed-card__pager img {
  height: 100%;
}
.wrapper-sliders {
  position: relative;
  box-sizing: content-box;
}
/*Пейджеры и стрелки*/
/*Стрелки*/
.detailed-card__pagers .bx-arrow {
  border: 1px solid #2a2a2a;
  width: 30px;
  height: 30px;
  z-index: 401;
  align-items: center;
  justify-content: center;
}
.detailed-card__pagers .bx-arrow:hover {
  background-color: #d58e32;
  border: none;
}
.detailed-card__pagers .bx-arrow:hover:before {
  color: #fff;
}
.detailed-card__pagers .bx-prev {
  left: 1px;
  top: 50%;
  margin-top: -15px;
}
.detailed-card__pagers .bx-next {
  right: 3px;
  top: 50%;
  margin-top: -15px;
}
.detailed-card__pagers .bx-arrow:before {
  color: #000;
  font-family: FontAwesoome, sans-serif;
  font-size: 22px;
}
.detailed-card__pagers .bx-prev:before {
  content: "\f104";
}
.detailed-card__pagers .bx-next:before {
  content: "\f105";
}
.wrapper-sliders .bx-arrow {
  display: flex;
  position: absolute;
  text-align: center;
  z-index: 100;
}
.detailed-card__slider .ret .bx-arrow {
  border: 1px solid #2a2a2a;
  width: 30px;
  height: 30px;
  z-index: 401;
  align-items: center;
  justify-content: center;
}
.detailed-card__slider .ret .bx-arrow:hover {
  background-color: #d58e32;
  border: none;
}
.detailed-card__slider .ret .bx-arrow:hover:before {
  color: #fff;
}
.detailed-card__slider .ret .bx-prev {
  right: 109px;
  top: 24px;
}
.detailed-card__slider .ret .bx-next {
  right: 73px;
  top: 24px;
}
.detailed-card__slider .ret .bx-arrow:before {
  color: #000;
  font-family: FontAwesoome, sans-serif;
  font-size: 22px;
}
.detailed-card__slider .ret .bx-prev:before {
  content: "\f104";
}
.detailed-card__slider .ret .bx-next:before {
  content: "\f105";
}
.wrapper-sliders .bx-arrow {
  cursor: pointer;
  display: flex;
  position: absolute;
  text-align: center;
  z-index: 100;
}
/* Пейджеры */
/*Настраивается расположение пейджеров*/
.wrapper-sliders .bx-wrapper .bx-pager {
  /*I вариант*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  bottom: -30px;
  left: 50%;
}
.wrapper-sliders .bx-pager-item {
  /*расстояние между отдельными пейджерами */
  margin-right: 10px;
}
.wrapper-sliders .bx-pager-item:last-child {
  margin-right: 0;
}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.wrapper-sliders .bx-wrapper .bx-pager.bx-default-pager a {
  /*Настройка неактивных кругляшков*/
  background: red;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  /*margin: 10px 10px;*/
  /*Настраивается расстояние между кругляшками*/
  outline: 0;
  border-radius: 50%;
}
.wrapper-sliders .bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #2c5f7f;
}
@media screen and (max-width: 992px) {
  .wrapper-product-line.row-center {
    margin-left: -15px;
    margin-right: -15px;
  }
  .wrapper-product-line .col-wrapper-6 {
    width: calc(40% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
  .wrapper-product-line .col-wrapper-3 {
    width: calc(40% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
  .wrapper-product-line .col-wrapper-4 {
    width: calc(40% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (max-width: 992px) {
  .row-center {
    margin-left: -15px;
    margin-right: -15px;
  }
  .col-wrapper-6 {
    width: calc(50% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
  .col-wrapper-3 {
    width: calc(50% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
  .col-wrapper-4 {
    width: calc(50% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (max-width: 576px) {
  .wrapper-product-line.row-center {
    margin-left: -15px;
    margin-right: -15px;
  }
  .wrapper-product-line .col-wrapper-6 {
    width: calc(66.66666667% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
  .wrapper-product-line .col-wrapper-3 {
    width: calc(66.66666667% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
  .wrapper-product-line .col-wrapper-4 {
    width: calc(66.66666667% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (max-width: 576px) {
  .row-center {
    margin-left: -15px;
    margin-right: -15px;
  }
  .col-wrapper-6 {
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
  .col-wrapper-3 {
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
  .col-wrapper-4 {
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (max-width: 425px) {
  .row-center {
    margin-left: -15px;
    margin-right: -15px;
  }
  .col-wrapper-6 {
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
  .col-wrapper-3 {
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
  .col-wrapper-4 {
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (max-width: 990px) {
  .row-center {
    margin-left: -15px;
    margin-right: -15px;
  }
  .col-wrapper-2 {
    width: calc(33.33333333% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
}
.row-new-row-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -20px;
  margin-right: -20px;
}
.col-new-col-wrapper {
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid;
  min-height: 60px;
  min-width: 60px;
  width: calc(33.33333333% - 40px);
}
@media screen and (max-width: 600px) {
  .row-new-row-center {
    margin-left: -5px;
    margin-right: -5px;
  }
  .col-new-col-wrapper {
    width: calc(100% - 10px);
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media screen and (max-width: 430px) {
  .row-new-row-center {
    margin-left: 0px;
    margin-right: 0px;
  }
  .col-new-col-wrapper {
    width: calc(100% - 0px);
    margin-left: 0px;
    margin-right: 0px;
  }
}
